<div id="<%= dom_id teacher_course %>">
  <p>
    <strong>Teacher:</strong>
    <%= teacher_course.teacher_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= teacher_course.course_id %>
  </p>

</div>
