<h1>Editing teacher course</h1>

<%= render "form", teacher_course: @teacher_course %>

<br>

<div>
  <%= link_to "Show this teacher course", @teacher_course %> |
  <%= link_to "Back to teacher courses", teacher_courses_path %>
</div>
