<p style="color: green"><%= notice %></p>

<h1>Teacher courses</h1>

<div id="teacher_courses">
  <% @teacher_courses.each do |teacher_course| %>
    <%= render teacher_course %>
    <p>
      <%= link_to "Show this teacher course", teacher_course %>
    </p>
  <% end %>
</div>

<%= link_to "New teacher course", new_teacher_course_path %>
