<div id="<%= dom_id course_entity %>">
  <p>
    <strong>Entity:</strong>
    <%= course_entity.entity_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= course_entity.course_id %>
  </p>

</div>
