<h1>Editing course entity</h1>

<%= render "form", course_entity: @course_entity %>

<br>

<div>
  <%= link_to "Show this course entity", @course_entity %> |
  <%= link_to "Back to course entities", course_entities_path %>
</div>
