<p style="color: green"><%= notice %></p>

<h1>Course entities</h1>

<div id="course_entities">
  <% @course_entities.each do |course_entity| %>
    <%= render course_entity %>
    <p>
      <%= link_to "Show this course entity", course_entity %>
    </p>
  <% end %>
</div>

<%= link_to "New course entity", new_course_entity_path %>
