<h1>Editing student history</h1>

<%= render "form", student_history: @student_history %>

<br>

<div>
  <%= link_to "Show this student history", @student_history %> |
  <%= link_to "Back to student histories", student_histories_path %>
</div>
