<p style="color: green"><%= notice %></p>

<h1>Student histories</h1>

<div id="student_histories">
  <% @student_histories.each do |student_history| %>
    <%= render student_history %>
    <p>
      <%= link_to "Show this student history", student_history %>
    </p>
  <% end %>
</div>

<%= link_to "New student history", new_student_history_path %>
